html{
    box-sizing: border-box;         /* padding and border are included in the width */ 
    font-size: 100%;                /* default browser font-size is 16px */
} 

*, *:before, *:after {
    box-sizing: inherit;            /* inherit box-sizing from html */
}

body{  
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}


h1{
    margin: 0;
    font-weight: 200;
}

h2,h3,h4{
    margin: 0;
}

p{
    margin: 0;
}

a, 
a:visited, 
a:active{
    text-decoration: none;
}

ul{
    margin: 0;
    padding: 0;
} 