body{
    background-color: var(--grey-dark);
    font-family: var(--font-family-outfit);
    color: var(--white-dark);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container{
    width: 100%;
    min-width: 300px;
    max-width: 600px;
    padding: 1rem;
    // //max-width: 600px;
    // height: 60%;
}

h3,h4{
    padding: 1rem;
}

.menu{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 2.5rem;
    border-radius: 10px;

    &--logo{
        width: 100%;
        display: flex;
        justify-content: center;
        &--x, 
        &--o{
            display: flex;
            justify-content: center;
            padding: .5rem;

            img{
                width: 40px;
                height: 40px;
            }
        }
    }

    &--decision{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    &--turn{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: var(--grey-light);
        border-radius: 10px;
        box-shadow: 0 10px 0 0 var(--grey-shadow);

        &__mark{
            border-radius: 10px;
            background-color: var(--grey-dark);
            padding: 1rem;
            width: 80%;
            display: flex;
            justify-content: center;

            &--x:hover,
            &--o:hover{
                img{
                    transform: scale(1.2);
                }
            }
            
            &--x, 
            &--o{
                width: 50%;
                display: flex;
                justify-content: center;
                padding: .5rem;

                img{
                    width: 40px;
                    height: 40px;
                }
            }
            &--x{
                border-radius: 10px;
                background-color: var(--selected-background);
                 img{
                    filter: var(--selected-svg-color);
                }
            }

            &--o{
                border-radius: 10px;
                background-color: var(--selected-background);
                img{
                    filter: var(--selected-svg-color);
                }
            }
        }
    }
}

.logo{
    width: auto;
}

.board{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;    

    &--navigation{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        margin-bottom: 1rem;

        &__menu{
            display: flex;
            align-items: center;
            justify-content: center;

            &--x,&--o{
                img{
                    width: 80%;
                    height: 80%;
                    min-width: 25px;
                    min-height: 25px;
                }
            }
        }
        &__turn{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;

             &--image{
               img{
                    width: 80%;
                    height: 80%;
                    min-width: 25px;
                    min-height: 25px;
                }
            }
            h4{
                padding: 0;
            }
        }
        &__restart{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &--panels{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        width: 100%;
        height: auto;
        aspect-ratio: 1;
        gap: 1rem;
        gap: clamp(8px, calc(-4px + 4vw), 16px);
    }

    &--results{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        margin-top: 1rem;
    }
}

.panel{
    display: flex;
    justify-content: center;
    align-items: center;


    background-color: var(--grey-light);
    box-shadow: 0 10px 0 0 var(--grey-shadow);
    border-radius: 10px;
}

.result{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--grey-dark);
    border-radius: 10px;
    padding: .8rem;

    &--player{

    }

    &--score{

    }
}

.banner{
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    z-index: 10;
    background-color: var(--grey-light);
    padding: 2rem;

    &--title{

    }

    &--info{
         display: flex;
         flex-direction: row;
    }

    &--decision{
        
         display: flex;
         flex-direction: row;
    }
}   


.overlay{
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: none;
    background-color: hsl(0, 0%, 0%);
    opacity: 50%;
    z-index: 2;
}

[data-visible='true']{
    display: block;
}

[data-game='active']{
    display: grid;
}

[data-game='inactive']{
    display: none;
}