body{
    background-color: var(--grey-dark);
    font-family: var(--font-family-outfit);
    color: var(--white-dark);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container{
    border: 1px solid white;
    min-width: 500px;
    height: 80%;

    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
}

.menu{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem

    &--decision{
        display: flex;
        flex-direction: column;
        gap: 1rem
    }

    &--turn{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--grey-light);

        &__mark{
            background-color: var(--grey-dark);
             display: flex;
            
            &--x, &--o{

            }
            img{
                width: 100%;
                height: 100%;
                filter: invert(0%) sepia(100%) saturate(23%) hue-rotate(198deg) brightness(100%);
            }
        }
    }
}