body{
    background-color: var(--grey-dark);
    font-family: var(--font-family-outfit);
    color: var(--white-dark);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container{
    min-width: 250px;
    max-width: 500px;
    width: 50%;
    
    height: 60%;
}

h3,h4{
    padding: 1rem;
}

.menu{
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 2.5rem;
    border-radius: 10px;

    &--logo{
        width: 100%;
        display: flex;
        justify-content: center;
        &--x, 
        &--o{
            display: flex;
            justify-content: center;
            padding: .5rem;

            img{
                width: 40px;
                height: 40px;
            }
        }
    }

    &--decision{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    &--turn{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: var(--grey-light);
        border-radius: 10px;
        box-shadow: 0 10px 0 0 var(--grey-shadow);

        &__mark{
            border-radius: 10px;
            background-color: var(--grey-dark);
            padding: 1rem;
            width: 80%;
            display: flex;
            justify-content: center;
            
            &--x, 
            &--o{
                width: 50%;
                display: flex;
                justify-content: center;
                padding: .5rem;

                img{
                    width: 40px;
                    height: 40px;
                }
            }
            &--x{
                 img{
                    filter: brightness(0) saturate(100%) invert(79%) sepia(8%) saturate(1029%) hue-rotate(157deg) brightness(91%) contrast(86%);
                }
            }

            &--o{
                border-radius: 10px;
                background-color: var(--white-dark);
                img{
                    filter: brightness(0) saturate(100%) invert(13%) sepia(12%) saturate(1566%) hue-rotate(155deg) brightness(95%) contrast(90%);
                }
            }
        }
    }
}

.logo{
    width: auto;
}

.board{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;    

    &--navigation{
        display: flex;
        justify-content: space-around;

        &__turn{
            display: flex;
            align-items: center;
            img{
                width: 25px;
                height: 25px;
            }
        }
    }

    &--panels{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 1rem;
    }

    &--results{
        display: flex;
        justify-content: space-between;
        gap: 1rem;
    }
}

.panel{
    width: 100%;
    height: 100%;
    min-width: 150px;
    min-height: 150px;
    // max-width: 150px;
    // max-height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;


    background-color: var(--grey-light);
    box-shadow: 0 10px 0 0 var(--grey-shadow);
    border-radius: 10px;
}

.result{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--grey-dark);
    border-radius: 10px;
    padding: .8rem;

    &--player{

    }

    &--score{

    }
}

.banner{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    z-index: 10;
    background-color: var(--grey-light);
    padding: 2rem;

    &--title{

    }

    &--info{
         display: flex;
         flex-direction: row;
    }

    &--decision{
        
         display: flex;
         flex-direction: row;
    }
}   


.overlay{
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: none;
    background-color: hsl(0, 0%, 0%);
    opacity: 50%;
    z-index: 2;
}

[data-visible='true']{
    display: block;
}
